html, body {
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    /*background-color: #e3e3e3;*/
}

#menuHeader, .header {
    /*margin-left: -1vw;
    margin-right: -1vw;*/
    padding: 1vh;
    padding-bottom: 0;
    /*background-color: #1967D2;*/
    background-color: white;
    /*border-left: solid #212121;*/

}

#menuContainer, .goHome {
    visibility: hidden;
    color: black;
}


#menu {
    border: none;
    background-color: #e9ece5;
    /*max-width: 20vw;*/ 
}
/*
#vis {
    background-color: white;
    margin-left: -1vw;
    margin-right: -1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}*/

#vis form {
    /*background-color: red;
    min-height: 5vh; 
    margin-top: 1vh;*/
    color: black;
}

#vis form #slider {
    color:black;
}

#error h5 {
    /*background-color: ;*/
    color: black;
    /*border-radius: 0.2em;*/
    text-align: center;
    /*padding: 1vh;*/
    font-weight: bolder;

}

textarea {
    resize: vertical;
}

h1, h2, h3 {
    color: black;
}

#researchQuestion {
    text-align: center;
}

h5 {
    /*background-color: #C2D6FF;*/
    /*color: #222222;*/
    padding: 0.5vw;
    font-weight: bold;
}

/*.caption {
    font-size: 90%;
    color: #222222;
}

.caption a {
    color: #222222;
}*/

/*.goHome {
    color: #e9ece5;
}*/

button {
    width: 100%;
}

#add {
    vertical-align: top;
}

.container {
    /*background-color: white;*/

    min-height: 101vh;
    /*padding-left: 1vw;
    padding-right: 1vw;*/
    border-right: solid #e9ece5;
    /*margin-bottom: 1vh;*/
}

.content {

    padding: 1vw;
    /*border-radius: 0.2em;*/
    background-color: #2196F3;

}

#map {
    height: 50vh;
}

#popup /*, #popup table*/ {
    padding: 1px;
    /*width: auto;*/
    /*overflow: auto;*/
    /*word-wrap: break-word;*/
    
    table-layout: fixed;
    box-sizing: border-box;
}

#popup table tr td a {
    word-break: break-all;
}



/*button.removeMarker:hover {
    background-color: #C90000;
}*/

/*, button.removeMarker:active, button.removeMarker:focus, button.removeMarker:target*/
/*button.removeMarker {
    background-color: #E50000;
}*/

th {
    font-weight: 900;
}

a, a:hover {
    color: #212121;
    text-decoration: none;
}

img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 0.2em;
}

#profilePhoto {
    width: 50%;
}


@media (min-width: 550px) {
	#homeButton {
		padding-top: 1vh;
	}

    /*h5 {
        max-width: 30vw;
    }*/

    #menu {
        margin-top: 1vh;
    }

}

@media (max-width: 1000px) {
    .container{
        padding-left: 2vw;
        padding-right: 2vw;
    }


    #menu, .goHome, .homeButton {
        /*background-color: black;*/
        visibility: hidden;
        position: fixed;
        padding: 0;
        margin: 0;
        height: 0px;
    }

    h5 {
        max-width: 100vw;
    }



}
