html, body {
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    /*background-color: #e3e3e3;*/
}

#menuHeader, .header {
    /*margin-left: -1vw;
    margin-right: -1vw;*/
    padding: 1vh;
    padding-bottom: 0;
    /*background-color: #1967D2;*/
    background-color: white;
    /*border-left: solid #212121;*/

}

#menuContainer, .goHome {
    visibility: hidden;
    color: black;
}

#menu {
    border: none;
    background-color: #e9ece5;
    /*max-width: 20vw;*/
}



h1 {
    color: black;
}

h5 {
    /*background-color: #C2D6FF;*/
    /*color: #222222;*/
    padding: 0.5vw;
    font-weight: bold;
}

/*.caption {
    font-size: 90%;
    color: #222222;
}

.caption a {
    color: #222222;
}*/

/*.goHome {
    color: #e9ece5;
}*/

button {
    width: 100%;
}

#add {
    vertical-align: top;
}

.container {
    /*background-color: white;*/

    min-height: 100vh;
    /*padding-left: 1vw;
    padding-right: 1vw;*/
    border-right: solid #e9ece5;
}

.content {

    padding: 1vw;
    /*border-radius: 0.2em;*/
    background-color: #2196F3;

}

#map {
    height: 50vh;
}

a, a:hover {
    color: #212121;
    text-decoration: none;
}

img {
    min-width: 100%;
    max-width: 100%;
    border-radius: 0.2em;
}

#profilePhoto {
    width: 50%;
}


@media (min-width: 550px) {
	#homeButton {
		padding-top: 1vh;
	}

    /*h5 {
        max-width: 30vw;
    }*/

    #menu {
        margin-top: 1vh;
    }

}

@media (max-width: 1000px) {
    .container{
        padding-left: 2vw;
        padding-right: 2vw;
    }


    #menu, .goHome, .homeButton {
        /*background-color: black;*/
        visibility: hidden;
        position: fixed;
        padding: 0;
        margin: 0;
        height: 0px;
    }

    h5 {
        max-width: 100vw;
    }



}
