<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Discovering and Processing Sensor Data</title>
<meta name="description" content="Thesis by Ivo de Liefde at Geomatics TU Delft."> <meta name="author" content="Ivo de Liefde">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/iThing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
<!-- <link href='http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css' rel='stylesheet' /> -->


<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script> -->
<!-- Leaflet -->
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>


</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67742974-2', 'auto');
  ga('send', 'pageview');
</script>

<!-- ============= -->
<!-- Form template -->
<!-- ============= -->

<script type="text/template" id="form1Template">
<form>
  <div class="row">
    <div class="twelve columns">
      <label for="featureInput">Features</label>
      <textarea class="u-full-width" placeholder="Delft, Rotterdam" id="featureInput"></textarea>
    </div>
    
  </div>

  <div class="row">
      <div class="five columns">
        <label for="featureInputType">Feature type</label>
        <select class="u-full-width" id="featureInputType">
            <option value="Municipality">Municipality</option>
            <option value="Province">Province</option>
            <!-- <option value="Landcover">Land cover</option> -->
            <option value="Raster 10km2">Raster 10km2</option>
            <option value="Raster 100km2">Raster 100km2</option>
        </select>
      </div>
      <div class="seven columns">
      <label for="obsProperty">Observed Property</label>
      <select class="u-full-width" id="obsProperty">
        <option value="Nitrogen_dioxide">Nitrogen Dioxide (NO2)</option>
        <option value="Ozone">Ozone (O3)</option>
        <option value="Particulates">Particulate Matter (PM10)</option>
      </select>
    </div>
  </div>

</form>
<div class="row">
  <button class='button-primary submitForm1'>Send</button>
</div>
</script>

<script type="text/template" id="form2Template">
<form>
  <div class="row">
    <div class="six columns">
      <label for="tempGranUnit">Temporal granularity unit</label>
      <select class="u-full-width" id="tempGranUnit">
          <option value="Hours">Hours</option>
          <option value="Days">Days</option>
          <option value="Weeks">Weeks</option>
      </select>
    </div>

    <div class="six columns">
      <label for="tempGranValue">Granularity value</label>
      <input class="u-full-width" type="text" placeholder="12" id="tempGranValue">
    </div>

  </div>
  <div class="row">
    <div class="six columns">
      <label for="temporalAggType">Temporal Aggregation</label>
      <select class="u-full-width" id="temporalAggType">
          <option value="average">Average</option>
          <option value="minimum">Minimum</option>
          <option value="maximum">Maximum</option>
          <!-- <option value="raw">Raw data</option> -->
      </select>
    </div>

    <div class="six columns">
      <label for="spatialAggType">Spatial Aggregation</label>
      <select class="u-full-width" id="spatialAggType">
          <option value="average">Average</option>
          <option value="minimum">Minimum</option>
          <option value="maximum">Maximum</option>
          <option value="raw">Raw data</option>
      </select>
    </div>

  </div>

  <div class="row">
    <label for="slider">temporal range</label>
    <div id="slider"></div>
  </div>

</form>
<div class="row">
  <div class="six columns"><button class='button-primary getForm'>Back</button></div>
  <div class="six columns"><button class='button-primary getSensorData'>Submit</button></div>
  
</div>
</script>


<!-- ========= -->
<!--   HTML    -->
<!-- ========= -->
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="page_1" class="container">
    <div class='row header' style="padding-top: 1vh;">
        <div class='nine columns'>
            <h2>Discovering and processing data from Sensor Observation Services</h2>
        </div>
        <div id="menuContainer" class='three columns'>
            <select id="menu" class="u-full-width">
                <option value="#page_1">Home</option>
                <option value="#page_2">Implementation</option>
                <option value="#page_3">Methods</option>
                <option value="#page_4">Contact</option>
            </select>
        </div>
    </div>
    <div class="row content">
        <div class="twelve columns">
          <h5>Master Thesis by Ivo de Liefde</h5>
          <!-- As sensors get increasingly cheaper more and more sensor data is being produced. Research on smart cities has shown numerous potential applications for using sensor data to create smarter cities with a better quality of life. However, to make the most out of the smart city it should be possible to easily retrieve aggregated sensor data from heterogeneous sources. --> <!-- Also there should be a central place in the internet to discover sensor data. --> <!-- <br><br> -->
          <!-- This thesis aims to create such a central place in the internet by developing a method to automatically link sensor metadata to OpenStreetMap. This allows for the fusion of sensor data: integrating, combining and aggregating data from different sources. To do so the metadata of all the available sensors should be linked to the semantic definition of the real world objects they're measuring: a street, a neighbourhood, a city, etc.. This way you can get sensor information by simply querying things like: <em>"select all temperature data of the last two days from sensors located in a specific city aggregated per hour"</em>. -->
          <!-- <br> -->
          <!-- <br> -->
          This thesis is called <i>Exploring the Use of the Semantic Web for discovering and processing data from Sensor Observation Services</i> and tries to answer the following research question:
          <ul id="researchQuestion"><li>To what extent can the semantic web improve the discovery, integration and aggregation of distributed sensor data?</li></ul>
        </div>
    </div>
</div>

<div id="page_2" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Implementation</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div id="map" class="twelve columns"></div>
    </div>
    <div class="row content">
        <div id="visDiv">
            <div id="vis">          
            <!-- Form / graphs go here -->
            </div>
        </div>
        <div id="error" class="twelve columns">
            <!-- Error messages go here -->
        </div>
    </div>
</div>
<div id="page_3" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Methods</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div class="eight columns">
            Text
        </div>
        <div class="four columns">
            image
        </div>
    </div>
</div>
<div id="page_4" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Contact</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div class="four columns">
            <img src="{{ url_for('static', filename='img/Ivo.jpg') }}" id="profilePhoto">
        </div>

        <div class="eight columns" style="padding-top:1vh">
            <h5> Ivo de Liefde</h5>
            <ul>
                <li>Student MSc. Geomatics for the Built Environment</li>
                <li>BSc. Human Geography and Urban Planning</li>
                <li>Email: i.deliefde@student.tudelft.nl</li>
            </ul>
        </div>
    </div>
</div>

<!-- Javascript dependencies
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQDateRangeSlider-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/json2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<!-- Vega Lite dependencies -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/vega.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/vega-lite.js') }}" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/vega-embed.js') }}" charset="utf-8"></script>

<!-- ========== -->
<!-- Javascript -->
<!-- ========== -->
<!-- Backbone framework
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script type="text/javascript" src="{{ url_for('static', filename='js/backboneViews.js') }}"></script>



</body>
</html>
