<!DOCTYPE html>
<html lang="en">
<head>

<!-- Basic Page Needs
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta charset="utf-8">
<title>Thesis</title>
<meta name="description" content="Thesis by Ivo de Liefde at Geomatics TU Delft."> <meta name="author" content="Ivo de Liefde">

<!-- Mobile Specific Metas
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- FONT
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/fonts.css') }}">

<!-- CSS
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/iThing.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/skeleton.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
<link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />


<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<!-- <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script> -->
<!-- Leaflet -->
<script type="text/javascript" src="{{ url_for('static', filename='js/leaflet.js') }}"></script>


</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67742974-2', 'auto');
  ga('send', 'pageview');

</script>
<!-- ========= -->
<!--   HTML    -->
<!-- ========= -->
<!-- Primary Page Layout
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="page_1" class="container">
    <div class='row header' style="padding-top: 1vh;">
        <div class='nine columns'>
            <h1>Discovery, Integration and Aggregation of Sensor Data Using the Semantic Web</h1>
        </div>
        <div id="menuContainer" class='three columns'>
            <select id="menu" class="u-full-width">
                <option value="#page_1">Home</option>
                <option value="#page_2">Implementation</option>
                <option value="#page_3">Methods</option>
                <option value="#page_4">Contact</option>
            </select>
        </div>
    </div>
    <div class="row content">
        <div class="twelve columns">
            <h5>Master Thesis by Ivo de Liefde</h5>
            As sensors get increasingly cheaper more and more sensor data is being produced. Research on smart cities has shown numerous potential applications for using sensor data to create smarter cities with a better quality of life. However, to make the most out of the smart city it should be possible to easily retrieve aggregated sensor data from heterogeneous sources. Also there should be a central place in the internet to discover sensor data. <br><br>
            This thesis aims to create such a central place in the internet by developing a method to automatically link sensor metadata to OpenStreetMap. This allows for the fusion of sensor data: integrating, combining and aggregating data from different sources. To do so the metadata of all the available sensors should be linked to the semantic definition of the real world objects they're measuring: a street, a neighbourhood, a city, etc.. This way you can get sensor information by simply querying things like: <em>"select all temperature data of the last two days from sensors located in a specific city aggregated per hour"</em>.
            <br>
            <br>

        </div>
    </div>
</div>

<div id="page_2" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Implementation</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div id="map" class="twelve columns"></div>
    </div>
    <div class="row content">
        <div id="vis">
            <form>
              <div class="row">
                <div class="six columns">
                  <label for="featureInput">Features</label>
                  <input class="u-full-width" type="text" placeholder="Delft, Rotterdam" id="featureInput">
                </div>
                <div class="six columns">
                  <label for="obsProperty">Observed Property</label>
                  <select class="u-full-width" id="obsProperty">
                    <option value="NO2">Nitrogen Dioxide (NO2)</option>
                    <option value="O3">Ozone (O3)</option>
                    <option value="PM10">Particulate Matter (PM10)</option>
                  </select>
                </div>
              </div>
              
              <div class="row">
                  <div class="six columns">
                    <label for="featureInputType">Feature type</label>
                    <select class="u-full-width" id="featureInputType">
                        <option value="Municipality">Municipality</option>
                        <option value="Province">Province</option>
                        <option value="Landcover">Land cover</option>
                        <option value="Raster">Raster</option>
                    </select>
                  </div>
                 
                  <div class="four columns">
                    <label for="tempGranUnit">Temporal granularity</label>
                    <select class="u-full-width" id="tempGranUnit">
                        <option value="Hours">Hours</option>
                        <option value="Days">Days</option>
                        <option value="Weeks">Weeks</option>
                    </select>
                  </div>

                   <div class="two columns">
                    <label for="tempGranValue">no.</label>
                    <input class="u-full-width" type="text" placeholder="12" id="tempGranValue">
                  </div>

              </div>

              <div class="row">
                <label for="slider">temporal range</label>
                <div id="slider"></div>

              </div>

                  <!-- <label for="exampleMessage">Message</label>
                  <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
                  <label class="example-send-yourself-copy">
                    <input type="checkbox">
                    <span class="label-body">Send a copy to yourself</span>
                  </label> -->
                  <!-- <input class="button-primary getGraph" type="submit" value="Submit"> -->
                  <!-- <button class='button-primary getGraph'>Send</button> -->

            </form>
            <div class="row">
                <button class='button-primary getGraph'>Send</button>
            </div>
        </div>


        </div>
    </div>
</div>
<div id="page_3" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Methods</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div class="eight columns">
            Text
        </div>
        <div class="four columns">
            image
        </div>
    </div>
</div>
<div id="page_4" class="container">
    <div class='row header'>
        <div class='ten columns'>
            <h1>Contact</h1>
        </div>
        <div class='two columns' id="homeButton">
            <button class='u-pull-right goHome'>Home</button>
        </div>
    </div>
    <div class="row content">
        <div class="four columns">
            <img src="{{ url_for('static', filename='img/Ivo.jpg') }}" id="profilePhoto">
        </div>

        <div class="eight columns" style="padding-top:1vh">
            <h5> Ivo de Liefde</h5>
            <ul>
                <li>Student MSC. Geomatics for the Built Environment</li>
                <li>BSc. Human Geography and Urban Planning</li>
                <li>Email: i.deliefde@student.tudelft.nl</li>
            </ul>
        </div>

    </div>
</div>

<!-- Javascript dependencies
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src='https://code.jquery.com/jquery-1.11.0.min.js'></script>
<script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.2.0/leaflet-omnivore.min.js'></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-ui-1.8.16.custom.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jQDateRangeSlider-min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/json2.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/backbone-min.js') }}"></script>
<!-- Vega Lite dependencies -->
<script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="//vega.github.io/vega/vega.js" charset="utf-8"></script>
<script src="//vega.github.io/vega-lite/vega-lite.js" charset="utf-8"></script>
<script src="//vega.github.io/vega-editor/vendor/vega-embed.js" charset="utf-8"></script>
<!-- GeoJSON files -->
<script type="text/javascript" src="{{ url_for('static', filename='geo/municipalities.js') }}"></script>

<!-- ========== -->
<!-- Javascript -->
<!-- ========== -->
<!-- Backbone framework
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script>
    // console.log(L)
    (function($){
        var MapView = Backbone.View.extend({
        // el: $('#map'),
        events: {
            'click #map' : 'highlightToggle',
        },

        // template: _.template($('#map-template').html()),
        render: function() {
            // console.log("make map");
            window.map = L.map('map').setView([51.686068, 5.198107], 7);

            window.map.scrollWheelZoom.disable();
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpandmbXliNDBjZWd2M2x6bDk3c2ZtOTkifQ._QA7i5Mpkd_m30IGElHziw', {
                maxZoom: 18,
                minZoom: 4,
                id: 'mapbox.satellite'
            }).addTo(window.map);

        },
        loadGeoJSON: function(){ 
            console.log('Delete existing layers')
            window.map.eachLayer(function (layer) {
                if (layer.options.id == undefined){
                    window.map.removeLayer(layer);
                }  
            }); 
            this.input = this.$('#featureInputType');
            console.log("add "+this.input.val()+" layer")
            if (this.input == 'Municipality'){
                window.geojson = L.geoJson(municipalities, {
                    style: style,
                    onEachFeature: onEachFeature()
                }).addTo(window.map);
            } else {
                window.geojson = L.geoJson(municipalities, {
                    style: MapView.style(),
                    onEachFeature: MapView.onEachFeature
                }).addTo(window.map);
                // console.log(window.geojson);
            }

        }, 
        style: function(){
            return {
                weight: 2,
                opacity: 1,
                color: 'white',
                dashArray: '3',
                fillOpacity: 0.7,
                fillColor: '#FFEDA0'
            }
        }, 
        onEachFeature: function(feature, featureLayer) {
            featureLayer.on({
                // mouseover: MapView.highlightFeature,
                // mouseout: resetHighlight,
                // click: zoomToFeature
                click: MapView.highlightToggle
            });
        },
        highlightToggle: function(e){
            if (e.target.feature.highlighted == undefined){
                e.target.feature.highlighted = true;
                // console.log("undefined");
                MapView.highlightFeature(e);
            } else if (e.target.feature.highlighted == true){
                e.target.feature.highlighted = false;
                // console.log("already highlighted");
                MapView.resetHighlight(e);
            } else {
                e.target.feature.highlighted = true;
                // console.log("not yet highlighted");
                MapView.highlightFeature(e);
            };   
        },
        highlightFeature: function(e) {
            layer = e.target;
            // console.log(layer.feature)
            layer.setStyle({
                weight: 5,
                color: '#666',
                dashArray: '',
                fillOpacity: 0
            });
            if (!L.Browser.ie && !L.Browser.opera) {
                layer.bringToFront();
            }

            // info.update(layer.feature.properties);
            names = $("#featureInput").val()
            newName = e.target.feature.properties.NAME
            if (newName.length == 0){
                return
            }
             
            namesArray = names.split(',')

            if (namesArray[0].length > 0){
                newName = " "+e.target.feature.properties.NAME
                namesArray.push(newName)
                outputNames = namesArray.join()
            } else {
                namesArray = [newName]
                outputNames = namesArray.join()
            }
            // console.log(outputNames)
            
            $("#featureInput").val(outputNames)
        },
        resetHighlight: function(e) {
            geojson.resetStyle(e.target);
            // info.update();
            names = $("#featureInput").val()
            newName = e.target.feature.properties.NAME
            namesArray = names.split(',')
            namesArray.remove(newName)
            namesArray.remove(" "+newName)
            outputNames = namesArray.join()
            $("#featureInput").val(outputNames)
        }

    });

        var MapView = new MapView();

        window.ListView = Backbone.View.extend({
            el: $('body'),
            events: {
              'change select#menu' : 'goTo',
              'click button.goHome' : 'goHome',
              'click button.getGraph' : 'getVegaGraph',
              // 'change select#featureInputType' : 'loadGeoJSON'
            },

            initialize: function() {
                console.log("start app");
                $("#slider").dateRangeSlider();

                // ================================================================== //
                // Javascript that creates the leaflet map and all it's functionality //
                // ================================================================== //

                MapView.render()

                if (screen.width > 1000){
                    $('#menuContainer').css('visibility','visible');
                    $('.goHome').css('visibility','visible');
                    // map.scrollWheelZoom.enable();

                }
               
                MapView.loadGeoJSON()

                // Create function to remove item from array by value
                Array.prototype.remove = function() {
                    var what, a = arguments, L = a.length, ax;
                    while (L && this.length) {
                        what = a[--L];
                        while ((ax = this.indexOf(what)) !== -1) {
                            this.splice(ax, 1);
                        }
                    }
                    return this;
                };

            },
            
            goTo: function(){
                this.input = this.$('#menu');
                $.scrollTo(this.input.val(), { duration:800 });
            },
            goHome: function(){
                $.scrollTo('#page_1', { duration:800 });
                $('#menu').val('#page_1');
            },
            getVegaGraph: function(){
                vlSpec = {
                  "description": "A trellis bar chart showing the US population distribution of age groups and gender in 2000.",
                  "data": { "url": "https://vega.github.io/vega-editor/app/data/population.json"},
                  "transform": {
                    "filter": "datum.year == 2000",
                    "calculate": [{"field": "gender", "expr": "datum.sex == 2 ? \"Female\" : \"Male\""}]
                  },
                  "mark": "bar",
                  "encoding": {
                    "row": {"field": "gender", "type": "nominal"},
                    "y": {
                      "aggregate": "average", "field": "people", "type": "quantitative",
                      "axis": {"title": "population"}
                    },
                    "x": {
                      "field": "age", "type": "ordinal",
                      "scale": {"bandSize": 17}
                    },
                    "color": {
                      "field": "gender", "type": "nominal",
                      "scale": {"range": ["#FFFFFF","#DDDDDD"]}
                    }
                  }
                }

                var embedSpec = {
                  mode: "vega-lite",
                  spec: vlSpec
                } 
                vg.embed("#vis", embedSpec, function(error, result) {
                  // Callback receiving the View instance and parsed Vega spec
                  // result.view is the View, which resides under the '#vis' element
                });
            }

        });

     

    var listView = new ListView();
    

    })(jQuery);
    

</script>


</body>
</html>
